.box{
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/70/06/75/1000_F_270067508_fNApbiIHDV11l5iIkWQeh6uOvh4fTely.jpg);
    max-width: 400px;
    height: 800px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
h1{
    color: #04ebd8;
    background: #0f1d39;
    padding: 8px;
    max-width: 250px;
    margin: auto;
    border:2px solid #04ebd8;
}
.innerbox{
    background: #0f1d39;
    height: 250px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid cyan;
}
.inside{
    margin:20px;
}
.stylea{
    color: cyan;
    font-weight:bold;
    font-size:10px;
}